body {
    background-color: #841617;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login_box {
    height: 500px;
    width: 500px;
    margin: 125px auto;
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #FDF9D8;
}

.user_input {
    top: 180px;
    position: absolute;
    width: 280px;
}

.email_password {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border-radius: 10px;
}

.login_button {
    height: 30px;
    width: 100px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
}

.signup_button {
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}

.button_wrapper {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 125px auto;
    border-radius: 10px;
}

#login {
    position: absolute;
    margin-top: 110px;
    margin-left: 100px;
}

.logo {
    position: relative;
    bottom: 175px;
}